@{
    ViewData["Title"] = "INK CRAFT";
}

<head>


    <h2> Where quality paper begins</h2>

    <p> ONLINE printing Servie </p>

    <div>
        <h1>IMG</h1>
        <img src="~/img/a1.jpg" alt="Sample Image" width="1200" height="600"   />
    </div>
</head>

